html {
  min-height: 100%;
  position: relative;
}
h1 a {
  font-size: 1em;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.deleteForm {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

a.addEntry{
  position: fixed;
  bottom: 5em;
  right: 1em;
  z-index: 100;
  font-family: cursive;
  text-decoration: none;
  border: none;
  outline: none;
  transform-origin: center;
  transition: .5s;
}
a.addEntry:hover{
  text-decoration: none;
  /* animation: anim1 .7s linear alternate infinite; */
  animation: anim1 .75s linear 0s infinite alternate;
  
  transition: .5s;
}
@keyframes anim1 {
  0%{
    letter-spacing: 0em;
    color: initial;
  }
  100%{
    letter-spacing: .05em;
    color: green;
  }
}

.deleteForm a {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  padding: .2em .5em;
  color: rgb(41, 41, 41);
  transition: .3s;
}
.deleteForm a::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  transform: translateX(35%);
  width: 400%;
  inset: 0;
  z-index: -1;
  background-color: rgba(255, 0, 0, 0.575);
  background-image: linear-gradient(90deg, red, yellow, blue, orange, black, green, gold, purple);
  transition: .5s;
  box-shadow: inset 0 0 10px #fff;
}
.deleteForm a:hover{
  color: beige;
}
.deleteForm a:hover:before {
  transform: translateX(-30%);
  color: beige;
  transition: 1.8s;
}
.deleteForm a:active{
  color: rgb(255, 255, 255);
}
.deleteForm a:hover:before {
  box-shadow: inset 0 0 50px blue;
}
.deleteForm a:active:before {
  box-shadow: inset 0 0 50px rgb(209, 209, 209);
}
.deleteForm button[type="submit"] {
  border: none;
  outline: none;
  opacity: 0.85;
  transition: .3s;
}
.deleteForm button[type="submit"]:hover {
  color: #d6d6d6;
  background-color: #000;
}
.deleteForm button[type="submit"]:active {
  background-color: red;
  color: #fff;
}
